<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MostActiveStocks - HOME</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
  
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">

        <div class="columns">
          <div class="column">
            <p class="is-size-3">Python demo project : <b>Most Active Stocks</b></p>
          </div>
        </div>

        <div class="columns">
          <div class="column">
            <div class="control">
              <label class="text is-size-3">See me on </label>
              <button class="button is-large is-outlined is-link" style="width: 100px; height: 40px;" onclick="requestLinkedIn()">LinkedIn</button>
              <button class="button is-large is-outlined is-link" style="width: 100px; height: 40px;" onclick="requestResume()">Resume</button>
            </div>
          </div>
        </div>
        <div>
          <p class="is-size-3">[Version: {{MostActiveStocks.version}}] [{{info.dtLocal}}][{{info.dtNY}}]</p>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">

      <!-- YahooMostActives -->
      <div class="columns">
        <div class="column">
          <p class="is-size-3">Yahoo Finance most active stock table data :   
            <a href="{{info.YahooHref}}">{{MostActiveStocks.YahooMostActivesName}}</a>
           </p>
        </div>
      </div>

      <!-- InvestingMostActives -->
      <div class="columns">
        <div class="column">
          <p class="is-size-3">Investing.com" most active stock table data :
            <a href="{{info.InvestingHref}}">{{MostActiveStocks.InvestingMostActivesName}}</a>
          </p>
        </div>
      </div>

      <!-- Yahoo Finance symbol request -->
      <div class="columns">
        <div class="column">
          <div class="control">
            <label class="text is-size-3">Query 'Yahoo Finance' for stock info : </label>
            <input class="input is-medium is-dark" value="SYMBOL" onfocus="if(this.value==this.defaultValue)this.value='';" type="text" id="symbol" autocomplete="off" style="width: 110px; height: 40px;" maxlength="10">
            <button class="button is-large is-outlined is-link" style="width: 100px; height: 40px;" onclick="requestYahoo()">Submit</button>
          </div>
        </div>
      </div>

    </div>
  </section>
  
</body>

<script type="text/javascript">
  function requestYahoo() {
    var sym= document.getElementById("symbol").value;
    url = "https://finance.yahoo.com/quote/" + sym + "?p=" + sym;
    window.location.href = url;
  }
  function requestLinkedIn() {
    window.location.href = "https://www.linkedin.com/in/dov-czitter-0b51233/";
  }
  function requestResume() {
    window.location.href = "{{ url_for('download', filename='DovCzitterResume.doc') }}";
  }
</script>

</html>